@font-face {
  font-family: "Georgia";
  src: url(assets/fonts/Gelasio-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  @media screen and (max-width:870px) {
    height: auto;
  }
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}



input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*variables*/
$font_georgia: "Georgia", sans-serif;
$body_color: #a0c0f0;
$font-color: #000000;
$font-color_white: #ffffff;
$cell_color: #000000;
$color_active_cells: #c8c8c8;
$color_border_cells: #5f5f5f;
$color_one_digit: #000080;
$color_two_digit: #00a86b;
$color_three_digit: #cc0002;
$color_four_digit: rgb(0, 0, 41);
$color_five_digit: brown;
$color_six_digit: rgb(0, 215, 253);
$color_seven_digit: #000000;
$color_eight_digit: #599905;
/*variables*/

body {
  background: url(assets/images/whitetheme.jpg);
  display: flex;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.white-theme {
  background: url(assets/images/blacktheme.jpg);
}
.container {
  font-family: $font_georgia; 
  color: $font-color;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  // margin: 0 auto;
  padding: 40px 0px;
  @media screen and (max-width:870px) {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
}
.container_game {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 870px) {
    align-items: center;
  }
 
}
.container_tools {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media screen and (max-width:870px) {
    gap: 10px;
  }
}

.title_block {
  font-size: 200%;
  font-style: bold;
  // text-align: center;
  @media screen and (max-width:1000px) {
    text-align: center;
    font-size: 150%;
  }
}

.text_block {
  max-width: 250px;
  font-size: 100%;
  font-style: italic;
  line-height: 130%;
  @media screen and (max-width:1000px) {
    text-align: center;
    font-size: 90%;
  }
}

.start_button {
  max-width: 250px;
  text-align: center;
  border: 4px outset;
  padding: 10px 20px;
  cursor: pointer;
  color: $font-color_white;
  background: $cell_color;
  font-style: italic;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.save_button {
  max-width: 250px;
  text-align: center;
  border: 4px outset;
  padding: 10px 20px;
  cursor: pointer;
  color: $font-color_white;
  background: $cell_color;
  font-style: italic;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.tools_block {
  display: flex;
  flex-direction: column;
  color: $font-color_white;
  // max-height: 48px;
  transition: all 0.5s ease;
}

.tools_open {
  max-height: 100%;
}

.tools_title {
  max-width: 250px;
  text-align: center;
  border: 4px outset;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-style: italic;
  font-style: 700;
  background: $cell_color;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.settings_container {
  font-family: $font_georgia;
  position: absolute;
  box-sizing: border-box;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  // border: 4px outset;
  background: $cell_color;
  transition: 1s all ease-out;
  display: flex;
  // height: 100%;
  padding: 10px;
  border: 4px outset;
  font-size: 100%;
  gap: 10px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index:3;
  color: $font-color_white;
}

// .settigs_open {
//   display: flex;
//   height: 100%;
//   padding: 10px;
//   border: 4px outset;
//   font-size: 100%;
//   gap: 10px;
//   max-height: 100%;
// }

.input_radio {
  height: 100%;
  // background-color: $color_three_digit;
}

.open_input {
  height: 100%;
  // background-color: $color_three_digit;
}

.size_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
// .size_open {
//   gap: 10px;
//   height: 100%;
// }
.size_title {
  font-style: italic;
}

.size_form {
  display: flex;
  // flex-direction: column;
  gap: 10px;
  height: 100%;
}

// .size_form_open {
//   gap: 10px;
//   height: 100%;
// }

.number_mines_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

// .number_mines_open {
//   gap: 10px;
//   height: 100%;
//   font-size: 100%;
// }

.number_mines_title {
  font-style: italic;
}
#numberOfMines {
  max-width: 170px;
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  background-color: #fff;
  height: 17px;
  border: 1px solid $font-color;
}

// .input_range {
//   height: 0px;
//   border: 0px solid $font-color;
// }
// .input_range_open {
//   height: 12px;
// }

input_range_open::-webkit-slider-thumb {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: -4px;
  background: $color_active_cells;
}

.theme_block {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  gap: 10px;
  height: 100%;
}

// .open_theme_block {
//   font-size: 100%;
//   gap: 10px;
//   height: 100%;
// }

.theme_title {
  font-style: italic;
}
.theme_form {
  display: flex;
  height: 100%;
  gap: 10px;
}
// .open_theme_form {
//   height: 100%;
//   gap: 10px;
// }
.sound_block {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  gap: 10px;
  height: 100%;
}

// .sound_theme_block {
//   font-size: 100%;
//   gap: 10px;
//   height: 100%;
// }

.sound_title {
  font-style: italic;
}
.sound_form {
  display: flex;
  gap: 10px;
  height: 100%;
}

// .sound_form_open {
//   height: 100%;
// }
.duration_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width:870px) {
    font-size: 90%;
  }
}
.number_clicks {
  font-size: 100%;
}
.counter_mines {
  font-size: 100%;
}

.counter_paws {
  font-size: 100%;
}

.counter_times {
  font-size: 100%;
}

.game_block {
  display: grid;
  justify-content: start;
  // justify-items: stretch;
}

.cell {
  position: relative;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  // padding: 20px;
  background: $cell_color;
  border: 2px outset;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(100%, 100%, 100%, 0);
  transition: all 0.5s ease;
  @media screen and (max-width: 1150px) {
    height: 15px;
    width: 15px;
  }
  @media screen and (max-width: 450px) {
    height: 13px;
    width: 13px;
    font-size: 90%;
  }
}
// .cell:active {
//   border: 2px solid $color_border_cells;
//   background: $color_active_cells;
// }
.cross1 {
  position: absolute;
  top: 8px;
  left: -1px;
  width: 20px;
  height: 2px;
  background: $font-color;
  transform: rotate(45deg);
  background: red;
  @media screen and (max-width: 1150px) {
    width: 15px;
    top: 4px;
  left: -2px;
  }
  @media screen and (max-width: 450px) {
    width: 13px;
  }
}

.cross2 {
  position: absolute;
  top: 8px;
  left: -1px;
  width: 20px;
  height: 2px;
  background: $font-color;
  transform: rotate(-45deg);
  background: red;
  @media screen and (max-width: 1150px) {
    width: 15px;
    top: 4px;
  left: -2px;
  }
  @media screen and (max-width: 450px) {
    width: 13px;
  }
}
.mine {
  height: 100%;
  width: 100%;
}

.flag {
  height: 100%;
  width: 100%;
}
.opened {
  border: 1px solid $color_border_cells;
  background: $color_active_cells;
  transition: all 0.5s ease;
  // color: rgba(100%, 100%, 100%, 1);
  // color: red;
}

.one {
  color: $color_one_digit;
}

.two {
  color: $color_two_digit;
}
.three {
  color: $color_three_digit;
}
.four {
  color: $color_four_digit;
}

.five {
  color: $color_five_digit;
}

.six {
  color: $color_six_digit;
}

.seven {
  color: $color_seven_digit;
}

.eight {
  color: $color_eight_digit;
}

.window_result {
  font-family: $font_georgia;
  position: fixed;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 110%;
  border: 4px outset;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: $cell_color;
  color: $font-color_white;
}

.result_text {
  text-align: center;
  font-size: 90%;
  line-height: 100%;
}

.button_ok {
  max-width: 60px;
  padding: 10px 15px;
  border: 1px solid $color_border_cells;
  cursor: pointer;
  font-size: 90%;
  line-height: 100%;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.results_block {
  font-family: $font_georgia;
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: $font-color_white;
  font-size: 100%;
}
.results_title {
  max-width: 250px;
  line-height: 100%;
  font-size: 100%;
  font-style: italic;
  text-align: center;
  border: 4px outset;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background: $cell_color;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.results_table {
  font-family: $font_georgia;
  position: absolute;
  z-index: 3;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: $font-color_white;
  background-color: $font-color;
  border: 4px outset;
  transition: all 0.5s ease;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.results_line {
  display: flex;
  justify-content: stretch;
}
.results_item {
  padding: 5px 15px;
  border-bottom: 1px solid $color_active_cells;
  flex-basis: 33.33%;
  text-align: center;
}

.close-button {
  position: absolute;
  right: -35px;
  top: -27px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: $font-color; 
  border: 2px outset;
  border-radius: 100px;
  transition: all 0.5s ease;
  z-index:4;
  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 680px) {
    
    
  }
}
.close-image {
  height: 85%;
}

.window_name {
  font-family: $font_georgia;
  position: fixed;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 110%;
  border: 4px outset;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: $cell_color;
  color: $font-color_white;
}
input[type="text"] {
  background-color: $color_active_cells;
  height: 25px;
}
.window_name_title {
}

#player {
}

.button_submit {
  cursor: pointer;
  max-width: 90px;
  padding: 10px 15px;
  border: 1px solid $color_border_cells;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.load_window {
  font-family: $font_georgia;
  position: fixed;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 110%;
  border: 4px outset;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: $cell_color;
  color: $font-color_white;
}

.load_title {
 text-align: center;
}

.load_buttons_block {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.load_button {
  cursor: pointer;
  max-width: 90px;
  padding: 10px 15px;
  border: 1px solid $color_border_cells;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
